{% extends 'partials/base.html' %}
{% load static %}
{% block title %} My Lotteries {% endblock title %}
{% block pagetitle %}
{% include "partials/page-title.html" with pagetitle="Lottery Tracker" title="My Lotteries" %}
{% endblock pagetitle %}

{% block extra_css %}
<!-- Sweet Alert css-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}
<div class="card" id="ticketList">
    <div class="card-body">
        <!-- Add a search form -->
        <form class="flex justify-left mb-4" action="{% url 'apps:display_historical_lottery' %}" method="get">
            <div class="flex items-center space-x-4">
                <label for="draw_id" class="text-sm font-semibold text-slate-500 dark:text-zink-200">Draw ID</label>
                <input type="text" name="draw_id" id="draw_id" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 dark:focus:border-custom-500 dark:focus:bg-zink-700 dark:focus:text-zink-200 dark:focus:border-zink-500 dark:focus:ring-custom-500 dark:focus:ring-2 dark:focus:ring-offset-0 dark:focus:ring-offset-zink-700" placeholder="Enter the Draw ID:" required>
            </div>
            <button type="submit" class="inline-flex items-center justify-between bg-custom-500 dark:bg-custom-500/10 h-8 px-3 transition-all duration-150 ease-linear border rounded border-custom-500 dark:border-custom-500/10 text-white dark:text-custom-500 hover:text-white dark:hover:text-custom-500 hover:bg-custom-600 dark:hover:bg-custom-500/10 focus:bg-custom-600 dark:focus:bg-custom-500/10 focus:text-white dark:focus:text-custom-500 [&.active]:text-white dark:[&.active]:text-custom-500 [&.active]:bg-custom-600 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-600 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-white dark:[&.active]:hover:text-custom-500 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto">Search</button>
            <a href="{% url 'apps:display_historical_lottery' %}" class="inline-flex items-center justify-between bg-custom-500 dark:bg-custom-500/10 h-8 px-3 transition-all duration-150 ease-linear border rounded border-custom-500 dark:border-custom-500/10 text-white dark:text-custom-500 hover:text-white dark:hover:text-custom-500 hover:bg-custom-600 dark:hover:bg-custom-500/10 focus:bg-custom-600 dark:focus:bg-custom-500/10 focus:text-white dark:focus:text-custom-500 [&.active]:text-white dark:[&.active]:text-custom-500 [&.active]:bg-custom-600 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-600 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-white dark:[&.active]:hover:text-custom-500 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto">Reset</a>
        </form>
        
        <div class="overflow-x-auto">
            <table class="w-full whitespace-nowrap" id="lotteryTable">
                <thead class="bg-slate-100 dark:bg-zink-600">
                    <tr>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="DrawID">DrawID</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="draw_date">Date of Draw</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_1">Red_1</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_2">Red_2</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_3">Red_3</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_4">Red_4</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_5">Red_5</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_6">Red_6</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="blue_1">Blue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">{{ ticket.draw_id }}</td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">{{ ticket.draw_date }}</td>
                        <!--Show the number in a small red ball for red numbers-->
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_1 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_2 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_3 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_4 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_5 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_6 }}</span>
                        </td>
                        <!--Show the number in a small blue ball for blue numbers-->
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-custom-500 rounded-full">{{ ticket.blue_1 }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="flex justify-center mt-4 mb-3 space-x-4 pagination">
            <span class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}</span>
            <a href="{% url 'apps:display_historical_lottery' %}?page=1" class="inline-flex items-center justify-center mx-2 bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">First</a>
            {% if tickets.has_previous %}
            <a href="{% url 'apps:display_historical_lottery' %}?page={{ tickets.previous_page_number }}" class="inline-flex items-center justify-center mx-2 bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Previous</a>
            {% endif %}
            {% if tickets.has_next %}
            <a href="{% url 'apps:display_historical_lottery' %}?page={{ tickets.next_page_number }}" class="inline-flex items-center justify-center mx-2 bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Next</a>
            {% endif %}
            <a href="{% url 'apps:display_historical_lottery' %}?page={{ tickets.paginator.num_pages }}" class="inline-flex items-center justify-center mx-2 bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Last</a>
            <a class=""> </a>
            <!-- Add a part so that the user can jump to the given page -->
            <form class="flex justify-left mx-2" action="{% url 'apps:display_historical_lottery' %}" method="get">
                <input type="number" name="page" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 dark:focus:border-custom-500 dark:focus:bg-zink-700 dark:focus:text-zink-200 dark:focus:border-zink-500 dark:focus:ring-custom-500 dark:focus:ring-2 dark:focus:ring-offset-0 dark:focus:ring-offset-zink-700" placeholder="Goto..." min="1" max="{{tickets.paginator.num_pages}}" required>
                <button type="submit" class="inline-flex items-center justify-center mx-1 bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Go</button>
            </form>
        </div>

    </div>
</div>

{% endblock content %}

{% block extra_js %}
<!-- list js-->
<script src="{% static 'libs/list.js/list.min.js' %}"></script>
<script src="{% static 'libs/list.pagination.js/list.pagination.min.js' %}"></script>
<script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>

{% endblock extra_js %}