{% extends 'partials/base.html' %}
{% load static %}
{% block title %} My Lotteries {% endblock title %}
{% block pagetitle %}
{% include "partials/page-title.html" with pagetitle="Lottery Tracker" title="My Lotteries" %}
{% endblock pagetitle %}

{% block extra_css %}
<!-- Sweet Alert css-->
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}
<div class="card" id="ticketList">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-5 mb-5">
            <!-- Create a button that redirects to apps:ticket_add in order to add a ticket -->
            <div class="flex justify-end gap-2">
                <a href="{% url 'apps:ticket_add' %}" class="py-2 px-4 text-xs text-white bg-custom-500 border-custom-500 btn hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">+ Add Lottery</a>
                <!--Create buttons for ordering the ticket by purchasing date, price, or won_amount-->
                <a href="{% url 'apps:ticket_list' order_by='purchase_date' %}" class="py-2 px-4 text-xs text-white bg-custom-500 border-custom-500 btn hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">Order by Date</a>
                <a href="{% url 'apps:ticket_list' order_by='price' %}" class="py-2 px-4 text-xs text-white bg-custom-500 border-custom-500 btn hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">Order by Price</a>
                <a href="{% url 'apps:ticket_list' order_by='won_amount' %}" class="py-2 px-4 text-xs text-white bg-custom-500 border-custom-500 btn hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">Order by Earnings</a>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="w-full whitespace-nowrap" id="lotteryTable">
                <thead class="bg-slate-100 dark:bg-zink-600">
                    <tr>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_1">Red_1</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_2">Red_2</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_3">Red_3</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_4">Red_4</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_5">Red_5</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="red_6">Red_6</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="blue_1">Blue</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="purchase_date">Date of purchase</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="price">Price(¥)</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right" data-sort="won_amount">Earnings(¥)</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">Edit</th>
                        <th class="sort px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <!--Show the number in a small red ball for red numbers-->
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_1 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_2 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_3 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_4 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_5 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-red-500 rounded-full">{{ ticket.red_6 }}</span>
                        </td>
                        <!--Show the number in a small blue ball for blue numbers-->
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <span class="inline-flex items-center justify-center w-6 h-6 text-xs font-semibold text-white bg-custom-500 rounded-full">{{ ticket.blue_1 }}</span>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">{{ ticket.purchase_date|date:"Y-m-d" }}</td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">{{ ticket.price }}</td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">{{ ticket.won_amount }}</td>
                        <!--Add two more elements in the end of the row to allow user to edit or remove the ticket-->
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <a href="{% url 'apps:ticket_edit' ticket_id=ticket.id %}" class="text-custom-500 dark:text-custom-500 hover:text-custom-700 dark:hover:text-custom-700">Edit</a>
                        </td>
                        <td class="px-3.5 py-2.5 border-b border-slate-200 dark:border-zink-500 ltr:text-left rtl:text-right">
                            <button onclick="confirmDelete('{{ticket.id}}')" class="text-custom-500 dark:text-custom-500 hover:text-custom-700 dark:hover:text-custom-700">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="deleteModal" class="modal" style="display:none;">
                <div id="modalContent">
                    <span class="close">&times;</span>
                    <p>Are you sure you want to delete this ticket?</p>
                    <button onclick="deleteTicket()" class="py-2 px-4 text-xs text-white bg-custom-500 border-custom-500 btn hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">Yes</button>
                    <button onclick="closeModal()" class="py-2 px-4 text-xs text-white bg-custom-500 border-custom-500 btn hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">No</button>
                </div>
            </div>
        </div>

        <div class="flex justify-center mt-4 pagination">
            <span class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}</span>
            <a href="{% url 'apps:ticket_list' %}?page=1" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">First</a>
            {% if tickets.has_previous %}
            <a href="{% url 'apps:ticket_list' %}?page={{ tickets.previous_page_number }}" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Previous</a>
            {% endif %}
            {% if tickets.has_next %}
            <a href="{% url 'apps:ticket_list' %}?page={{ tickets.next_page_number }}" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Next</a>
            {% endif %}
            <a href="{% url 'apps:ticket_list' %}?page={{ tickets.paginator.num_pages }}" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto page-item">Last</a>
        </div>
    </div>
</div>

<script>
    function confirmDelete(ticket_id) {
        // Show the modal on the top of the page
        document.getElementById('deleteModal').style.display = 'block';
        document.getElementById('deleteModal').dataset.ticket_id = ticket_id;
    }

    function closeModal() {
        document.getElementById('deleteModal').style.display = 'none';
    }

    function deleteTicket() {
        let ticket_id = document.getElementById('deleteModal').dataset.ticket_id;
        fetch(`/apps/lotterytracker/ticket_delete/${ticket_id}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(response => {
            if (response.ok) {
                location.reload();
            }
        });
    }

</script>

{% endblock content %}

{% block extra_js %}
<!-- list js-->
<script src="{% static 'libs/list.js/list.min.js' %}"></script>
<script src="{% static 'libs/list.pagination.js/list.pagination.min.js' %}"></script>
<script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>

<!-- listjs init -->
{% endblock extra_js %}